:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-green: #04cba0;
  --blue: #293b49;
  --pink: #fdabaf;
  --pink-light: #ffe0e6;
  --green: #04cba0;
  --green-dark: #01ac88;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}